<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBusTfkIW9kbVvkA0y9gTTxh6i2fbyC_O0</string>
	<key>GCM_SENDER_ID</key>
	<string>852419007298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vitaliy.belyaev.WishApp</string>
	<key>PROJECT_ID</key>
	<string>wishapp-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>wishapp-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852419007298:ios:e0a99e55228442eabcaedb</string>
</dict>
</plist>