<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".WishApplication"
            android:allowBackup="false"
            android:dataExtractionRules="@xml/backup_rules_12_android"
            android:fullBackupContent="@xml/backup_rules_11_android"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/release_app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/WishAppSplash"
            tools:replace="android:allowBackup,android:dataExtractionRules,android:fullBackupContent">

        <activity
                android:name=".ui.AppActivity"
                android:exported="true"
                android:launchMode="singleTop"
                android:theme="@style/WishAppSplash"
                android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
                android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
                android:theme="@style/LicensesTheme" />
        <activity
                android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
                android:theme="@style/LicensesTheme" />

        <provider
                android:name="androidx.core.content.FileProvider"
                android:authorities="${applicationId}.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_provider_paths" />
        </provider>

        <receiver android:name=".ui.widget.WishAppWidgetReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/wishapp_widget_info" />
        </receiver>

    </application>

</manifest>